body {
    margin: 0;
    overflow: hidden;
    font-family: monospace;
}

#game {
    width: 100vw;
    height: 300px;
    position: relative;
    overflow: hidden;
    background: #87ceeb;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    background-position: 0 bottom;
    z-index: 0;
}

.clouds {
    background-image: url('image/8d2327ab5fa9c6a1ea5ea20cc42efb81.jpg');
    opacity: 0.5;
}

.hills {
    background-image: url('image/images.png');
    opacity: 0.8;
}

.ground {
    background-image: url('image/hills.png');
}

.player {
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url('image/223-2238311_mario-sprite-super-mario-bros-1-mario.png');
    background-size: 128px 32px;
    image-rendering: pixelated;
    transition: 0.05s;
    z-index: 5;
}

.block {
    width: 32px;
    height: 32px;
    background: #c68642;
    position: absolute;
    z-index: 4;
}

.moving-block {
    width: 32px;
    height: 32px;
    background: #8B4513;
    position: absolute;
    z-index: 4;
}

.enemy {
    width: 28px;
    height: 28px;
    background: brown;
    position: absolute;
    z-index: 4;
}

.coin {
    width: 18px;
    height: 18px;
    background: gold;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
}

#ui {
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    z-index: 20;
}

#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .6);
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    z-index: 30;
    flex-direction: column;
}

#overlay button {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 20px;
}